
<p *ngIf="userData.length <= 0" class="no-data">There is no users.</p>
<div class="container">
  <div class="mat-elevation-z8">
    <table mat-table  [dataSource]="dataSource" matSort class="m-0 w-100" >
      <ng-container class="mr-2 ml-2 p-4" matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="birthdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthdate </th>
        <td mat-cell *matCellDef="let element"> {{element.birthdate}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef  > Action </th>
        <td mat-cell *matCellDef="let element; let i = index;" class="p-0">
          <button mat-raised-button color="white" class="push-right"
                  [routerLink]="['/edit-user/', element.id]">Edit</button>
          <button mat-raised-button color="white" (click)="deleteUser(i, element)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <button mat-raised-button color="white" class="push-right"
          [routerLink]="['/add-user/']">New user</button>
</div>
